/* font-family: 'Amatic SC', cursive; FOR HEADINGS/TITLES
font-family: 'Merriweather', serif; FOR BODY
Pallete: http://paletton.com/palette.php?uid=13s0u0k9hjCeMxgbypj5-d%2B1W7X; */
#top {
	font-size: 1.1em;
	font-family: 'Merriweather', cursive;
}

body {
	color: black;
	background-color: #547180;
	width: 90%;
	height: auto;
	margin: auto;
}
p {
font-family: 'Merriweather', cursive;
font-size: 1.2em;

}

/* image hover opacity idea

img {
	opacity: 0.9;
    transition: opacity .40s ease-in-out;
}

img:hover {
	opacity: 1;
}

*/

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 7em;
}

h3 {
	font-family: 'Amatic SC', cursive;
	font-size: 5em;
}

.note {
font-size: 0.9em;
}

a {
	text-decoration: none;
	color: white;
	opacity: 0.6;
    transition: opacity .40s ease-in-out;
}

a:visited {
	color: #FF896A;
}

a:hover {
	opacity: 1;
}

.dandl {
	border-radius: 50%;
	width: 300px;
	height: auto;
	shape-outside: border-box;
	float: left;
	padding: 10px;

}

.hola {
	border-radius: 10px;
	width: 500px;
	height: auto;
	position: absolute;
	top: 12%;
	right: 0;
	left: 60%;
	opacity: 0.9;
    transition: opacity .40s ease-in-out;
}

.hola:hover {
	opacity: 1;
}

.links {
	font-size: 1.5em;
	margin: 75px;
}

.crabs {
	border-radius: 10px;
	height: 300px;
	width: auto;
	margin-bottom: 30px;
}

.lice {
	border-radius: 10px;
	height: 300px;
	width: auto;
	position: absolute;
	top: 786px;
	right: 890px;
	bottom: 200px;
	margin-bottom: 30px;
}

.monkey {
	border-radius: 10px;
	height: 300px;
	width: auto;
	margin-bottom: 30px;

}

.champa {
	border-radius: 60px;
	shape-outside: content-box;
	height: 165px;
	width: auto;
	float: right;
	margin: 19px;

}

.africa {
	border-radius: 10px;
	height: 300px;
	width: auto;
	margin: 19px;
}

.maasai {
	border-radius: 10px;
	height: 300px;
	width: auto;
	margin: 19px;

}

.mango {
	border-radius: 50%;
	height: 300px;
	width: auto;
	shape-outside: border-box;
	float: right;
	margin: 5px;
	

}

.lyons {
	border-radius: 75px 10px 75px 10px;
	height: 300px;
	width: auto;
	margin: 19px;

}

#achina {
	border-radius: 10px 50px 10px 50px;
	height: 300px;
	width: auto;
	margin: 19px;

}

#hk {
	border-radius: 10px 50px 10px 50px;
	height: 300px;
	width: auto;
	margin: 19px;

}

#lijiang {
	border-radius: 40%;
	height: 300px;
	width: auto;
	margin: 19px;
	shape-outside: border-box;
	float: right;

}

#ch {
	border-radius: 10px 50px 10px 50px;
	height: 300px;
	width: auto;
	margin: 19px;

}

